@model MotorCycle_.Models.XEGANMAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Thong tin chi tiet xe gan may</h2>
<img src="~/images/@Model.Anhbia" />
<h3>Ten xe: @Model.TenXe</h3>
<p>Mô tả: @Model.Mota</p>
<h5 style="color: red">Gia ban: @Model.Giaban</h5>

<div id="Datmua">
    <a href="@Url.Action("Themgiohang", "Giohang", new { iMaXe = @Model.MaXe, @sUrl = Request.Url.ToString()})">
        ĐẶT MUA
    </a>
</div>
